In [1]:
import pandas as pd
from pathlib import Path

In [4]:
file_path = Path("EmployeeSQL/data/employees.csv")

In [5]:
df = pd.read_csv(file_path)

In [6]:
df.head()

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001   7/25/1953    Hideyuki   Zallocco   M   4/28/1990
1  475053        e0002  11/18/1954       Byong  Delgrande   F    9/7/1991
2   57444        e0002   1/30/1958       Berry       Babb   F   3/21/1992
3  421786        s0001   9/28/1957       Xiong   Verhoeff   M  11/26/1987
4  282238        e0003  10/28/1952  Abdelkader    Baumann   F   1/18/1991